* {
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}
/*Start of Column*/
.row {
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

.column{
    border: 3px solid #d5b183;
}
.row h2{
    text-transform: uppercase;
}
.row h2, p{
    text-align: center;
}
.column a{
    color: #000000;
    padding: 7px 20px;
}
.column.side {
    width: 25%;
    text-align: center;
}
.column.center {
    width: 50%;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*End of Column*/

/* start of banner content*/
.banner{
    background: url(/img/2bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #d3b083;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}
.btn span{
    background: #d3b083;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.btn:hover span{
    width: 100%;
}
.about{
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.about .btn{
    margin-top: 1rem;
}

.about h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    }
/* end of banner content*/
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}
ul{
    width: auto;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}

.navigation a{
    text-decoration: initial;
    color: white;
    font-weight: 500;
    font-size: 1.1em;

}

.navigation a:hover{
    color: rgb(176, 120, 47);
    text-decoration: underline;
}
.logo{
    background: url(/img/wlogo.png) no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 3%;
}

/* end of navbar */

/* Start of footer */
footer {
    background-color: rgb(53, 56, 58);
    width: 100%;
    bottom: 0; left: 0;right: 0;
    height: auto;


}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h3{
    color: burlywood;
    font-size: 2.1em;
    font-style: italic;
}

h4{
    color: burlywood;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px auto;
    line-height: 28px;
}

h5{
    color: burlywood;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px auto;
    line-height: 28px;
}


.social-icons{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-icons a{
    margin: 0 10px;
}

.social-icons i{
    color: burlywood;
    font-size: x-large;
}

.social-icons i:hover{ /*to color when pointing*/
    color: rgb(176, 120, 47);
    text-decoration: underline;
}
/************* Profile **************/
.username{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
}
.container{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 10px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.profilePage .column.center{
    width: 100%;
}
.tabBtn {
    align-items: center;
    background-image: linear-gradient(#464d55, #25292e);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: 54px;
    font-size: 16px;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 1;
    max-width: 100%;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    overflow: hidden;
}

.tabBtn:hover{
    box-shadow: 0 0 12px rgb(53, 56, 59) inset;
    border: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}
/************* Schedules **************/
.scheme{
    width: 100%;
    height: 100px;
    background-color: #bdbdbd;
    margin-top: 1rem;
}

.schemeInputText{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/************* Schedules **************/
.scheme{
    width: 100%;
    height: 100px;
    background-color: #bdbdbd;
    margin-top: 1rem;
}

.schemeInputText{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*************Log in **************/
.img{

    width: 100%;
    align-items: center ; /*center in main section*/
    /*  position: absolute; /*position for header mot moving*/
    display: flex;
    padding: 200px 1px; /* 10px top and bottom, 200px right and left*/
    /*For back ground picture*/
    background: url(/img/login.jfif) no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;

}

.img::after{
    position: absolute;
    content: '';
    top: 6px;
    left: 1px;
    height: 88%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    
}

.content{
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 200px 200px;
    width: 370px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    z-index: 9;
    transform: translate(-50%, -50%);
}

.content h2{
    color: white;
    font-size: 45px;
    margin: 0 0 35px 0;
}

.filed{
    position: relative;
    height: 35px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 8px;
}

.filed input{
    height: 100%;
    width: 100%;
    color: #222;
    font-size: 25px ;
    margin-right: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.space{
    margin-top: 16px;
}

.filed1 input{
    background:  rgb(176, 120, 47);
    border: 8px ;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 40px;
    padding: 10px 10px;
    border-radius: 8px;

}
.filed1 input:hover{
    background: burlywood;
}


.signup{
    color:white;
    margin-top: 20px;
    font-size: 35px;
}

.signup a{
    color: rgb(176, 120, 47);
    margin-top: 20px;
    text-decoration: none;
}

.signup a:hover {
    text-decoration:underline ;
    color:burlywood;

}

/************ BMI **************/
.img-BMI{
    width: 100%;
    align-items: center ; /*center in main section*/
    /*  position: absolute; /*position for header mot moving*/
    display: flex;
    padding: 200px 1px; /* 10px top and bottom, 200px right and left*/
    /*For back ground picture*/
    background: url(/img/BMI-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 100px 100px;
    width: 370px;
    transform: translate(-50%, -50%);
    background-color: rgb(129, 87, 49);
}

.box h2{
    color: white;
    font-size: 40px;
    margin: 0 0 50px 0;
}

.box a{
    color: burlywood;
    font-size: 35px;

}

.but{
    background:  rgb(176, 120, 47);
    border: 8px ;
    color: white;
    font-size: 40px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 40px;
    padding: 10px 100px;
    border-radius: 8px;

}

.but:hover{
    background: rgb(103, 11, 121);
}

span{
    color: rgb(170, 33, 33);
    height: 100%;
    width: 50%;
    font-size: 16px ;
    margin-top: 10px;
}

.filed{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 8px;
}

#output{
    color:black;
    width: 250px;
    font-weight: 700;
    font-size: xx-large;
    font-family:cursive;
    
}
/*********** Input ***************/
bmiInput{
    padding-left: 12px;
    width: 250px;
    font-weight: 700;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

/**************Personal trainers*************/
.banner-trainer{
    background: url(/img/wp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
}

.about-trainer{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    width: 330px;
}

.about-trainer h2{
    text-transform: uppercase;
    font-size: 30px;
}

.about-trainer p{
    font-size: 20px;
}

.content-trainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.title-trainer{
    display: flex;
    justify-content: center;
    color: rgb(129, 87, 49);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.card-trainer {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease; /*time for transition*/
}

.card-trainer:hover{
    background-color: gray ;
    transform: scale(1.1);
}

.icon{
    color: purple;
    font-size: 8em;
    text-align: center;
}

.information{
    text-align: center;
}

.information h3{
    color: rgb(129, 87, 49);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

img{
    margin-top: 20px;
    margin-left: 60px;

}

/***** Media *****/
@media screen and (max-width: 770px){
    .tabBtn{
        font-size: 2.4vw;
        letter-spacing: 0px;
    }
}